dataset/
datasets/
runs/
*.pt
*.onnx
*.engine
*.cache
yolo26n.pt
yolo26s.pt
yolov8n.pt
rtdetr-l.pt
*.csv
viz_out/
viz_compare_out/
trackeval_data/
TrackEval/
weights/
filelist.txt
__pycache__/
*.pyc
.venv/
venv/
.vscode/
.idea/
Thumbs.db